<div class="bk-navbar">
    <div class="container bk-navbar__content">
        <div class="left-side">
            <div class="center">
                <button class="menu-btn" mat-icon-button (click)="onMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <a class="bk-navbar__brand" routerLink="/">
                <img src="assets/images/logo-dark.svg" alt="Beatkhor">
                <strong i18n>Beatkhor</strong>
            </a>

            <ng-content select=".bk-navbar__menu-list"></ng-content>
        </div>

        <ng-content select=".bk-navbar-actions"></ng-content>
        <ng-content select=".bk-user-info"></ng-content>
        <ng-content select=".bk-navbar__right-menu"></ng-content>
    </div>
</div>