.bk-auth-footer {
    p {
        margin: 8px 0;
    }
}

@mixin theme($theme) {
    .bk-auth-footer a {
        $primaryPalette: map-get($theme, 'primary');
        color: map-get($primaryPalette, 500);
    }
}

@mixin color($theme) {}