$bk-amber-palette: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bk-blue-grey-palette: (
    50 : #eceff1,
    100 : #cfd8dc,
    200 : #b0bec5,
    300 : #90a4ae,
    400 : #78919c,
    500 : #607d8b,
    600 : #587583,
    700 : #4e6a78,
    800 : #44606e,
    900 : #334d5b,
    A100 : #abe1ff,
    A200 : #78ceff,
    A400 : #45bcff,
    A700 : #2bb3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bk-red-palette: (
    50 : #fee8e7,
    100 : #fcc7c3,
    200 : #faa19b,
    300 : #f77b72,
    400 : #f65f54,
    500 : #f44336,
    600 : #f33d30,
    700 : #f13429,
    800 : #ef2c22,
    900 : #ec1e16,
    A100 : #ffffff,
    A200 : #ffe9e9,
    A400 : #ffb8b6,
    A700 : #ff9f9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
