@use '@angular/material' as mat;

@use '../../app/auth/theme' as auth;
@use '../../app/core/theme' as core;

.dark-theme {
    color: rgba(#fff, 0.95);
    background-color: #1c1c1c;
    overscroll-behavior: contain;
    overflow: none;

    a {
        $theme: map-get($bk-dark, 'material');
        $primaryPalette: map-get($theme, 'primary');
        color: map-get($primaryPalette, 500);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
    }

    .divider {
        width: 100%;
        height: 1px;
        margin: 16px 0;
        border-bottom: 1px solid rgba(#fff, $alpha: 0.1);
    }
    
    @include auth.color(map-get($bk-dark, 'material'));
    @include core.color(map-get($bk-dark, 'material'));
}