@use '@angular/material' as mat;

@use '../../app/auth/theme' as auth;
@use '../../app/auth/theme' as core;
@use '../../app/browse/theme' as browse;

@include mat.core();

@function create-dark-bk-theme($primary-palette, $accent-palette, $warn-palette) {
    $material-primary: mat.define-palette($primary-palette);
    $material-accent: mat.define-palette($accent-palette, A200, A100, A400);
    $material-warn: mat.define-palette($warn-palette, 400, A100, A400);

    $material-theme: mat.define-dark-theme((color: (primary: $material-primary,
                accent: $material-accent,
                warn: $material-warn )));

    $result: ('material': $material-theme,
        'primary': $primary-palette,
        'accent': $accent-palette,
        'warn': $warn-palette );

    @return $result;
}


$bk-dark: create-dark-bk-theme($bk-amber-palette, $bk-blue-grey-palette, $bk-red-palette);

@include mat.all-component-themes(map-get($bk-dark, 'material'));
@include auth.theme(map-get($bk-dark, 'material'));
@include core.theme(map-get($bk-dark, 'material'));
@include browse.theme(map-get($bk-dark, 'material'));