.post-tile {
    position: relative;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.025);

    display: flex;
    align-items: stretch;
    flex-direction: column;

    &__background {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        padding: 16px;

        img {
            width: 100%;
            border-radius: 4px;
            transition: all 100ms ease-out;
        }
    }

    &__subtitle {
        color: rgba(255, 255, 255, 0.836);
        font-size: 0.78em;
        font-style: italic;
    }

    &__information {
        color: white;
        padding: 16px;
        padding-top: 0;

        .demo {
            color: transparent;
        }
    }

    &__image-container {
        padding: 16px;

        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        img {
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
            -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.3);
        }
    }

    &:hover {
        .post-tile__background img {
            opacity: 0.5;
            filter: blur(12px);
            -webkit-filter: blur(12px);
        }
    }
}