<div class="post-view">
    <div class="post-view__cover">
        <svg width="100%" viewBox="0 0 1 1" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="1" height="1"/>
        </svg>

        <div *ngIf="firstPicture?.default" class="post-view__background">
            <img width="100%" [src]="firstPicture?.default | downloadLink" [alt]="pictureAlt">
        </div>
    
        <div *ngIf="firstPicture?.default" class="post-view__image-container">
            <img width="100%" [src]="firstPicture?.default | downloadLink" [alt]="pictureAlt">
        </div>
    </div>
    <div class="post-view__overview">
        <div class="post-view__track_name">
            <h1>{{post?.post_meta?.title}}</h1>
        </div>
        <div class="post-view__user">{{userFullName}}</div>
        <div class="post-view__player">
            <div id="waveform"></div>
        </div>
        <div class="post-view__details">
            <button (click)="togglePlay()" class="play-button" mat-mini-fab color="primary">
                <mat-icon *ngIf="!playing">play_arrow</mat-icon>
                <mat-icon *ngIf="playing">pause</mat-icon>
            </button>
            <div class="information-desktop">
                <div *ngIf="post?.genres?.length" class="genres">
                    <span class="info-title">Genre<span *ngIf="(post?.genres?.length || 0) > 1">s</span>: </span>
                    <ng-container *ngFor="let g of post?.genres; index as i">
                        <span>{{g.title}}</span>
                        <span *ngIf="i !== (post?.genres?.length || 0) - 1">, </span>
                    </ng-container>
                </div>
                <div *ngIf="post?.tags?.length" class="tags">
                    <span class="info-title">Tag<span *ngIf="(post?.tags?.length || 0) > 1">s</span>: </span>
                    <ng-container *ngFor="let t of post?.tags; index as i">
                        <span>{{t.title}}</span>
                        <span *ngIf="i !== (post?.tags?.length || 0) - 1">, </span>
                    </ng-container>
                </div>
            </div>
            <div class="information-desktop-spacer" style="flex: 1;"></div>
            <div class="actions">
                <a target="_blank" [href]="firstAudio?.original | downloadLink" mat-stroked-button >
                    <mat-icon>download</mat-icon>
                    <span>Download</span>
                </a>
            </div>
        </div>
        <div class="information-mobile">
            <div *ngIf="post?.genres?.length" class="genres">
                <span class="info-title">Genre<span *ngIf="(post?.genres?.length || 0) > 1">s</span>: </span>
                <ng-container *ngFor="let g of post?.genres; index as i">
                    <span>{{g.title}}</span>
                    <span *ngIf="i !== (post?.genres?.length || 0) - 1">, </span>
                </ng-container>
            </div>
            <div *ngIf="post?.tags?.length" class="tags">
                <span class="info-title">Tag<span *ngIf="(post?.tags?.length || 0) > 1">s</span>: </span>
                <ng-container *ngFor="let t of post?.tags; index as i">
                    <span>{{t.title}}</span>
                    <span *ngIf="i !== (post?.tags?.length || 0) - 1">, </span>
                </ng-container>
            </div>
        </div>
    </div>
</div>