<bk-auth-container>
    <bk-auth-content>
        <h1>Sign In</h1>

        <p>
            <span>Welcome back! </span>
            <span>Please provide your email and password to sign into your account.</span>
        </p>

        <form [formGroup]="form" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email / Username</mat-label>
                <input matInput formControlName="username" type="text" spellcheck="false" name="username">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>You can use your username or email to sign in</mat-hint>
                <mat-error>Please enter your email or username!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" name="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>A password should include at least 6 characters.</mat-hint>
                <mat-error>Please enter at least 6 characters!</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">
                <span *ngIf="isLoading">Please wait...</span>
                <span *ngIf="!isLoading">Sign In</span>
            </button>
        </form>

        <bk-auth-footer>
            <p>
                <span>Don't have a account yet? </span>
                <a routerLink="/authentication/signup"> sign up now!</a>
                <span>.</span>
            </p>
            <p>
                <span>If you have forgotten your password, you can easily </span>
                <a routerLink="/authentication/forgot">recover your password here</a>
                <span>.</span>
            </p>
        </bk-auth-footer>
    </bk-auth-content>
</bk-auth-container>