<footer class="footer-wrapper">
    <div class="container footer__content">
        <div class="footer__links">
            <div>
                <h4 i18n>Social Media</h4>
                <ul class="footer__list-grid">
                    <a target="_blank" href="https://t.me/beatkhor"><li i18n>Telegram</li></a>
                    <a target="_blank" href="https://discord.gg/k9uG673PqX"><li i18n>Discord</li></a>
                    <!-- <a href=""><li>YouTube</li></a> -->
                    <!-- <a href=""><li>Twitter</li></a> -->
                </ul>
            </div>
            <div>
                <h4 i18n>Resources</h4>
                <ul class="footer__list-grid">
                    <a href=""><li i18n>About</li></a>
                    <a href=""><li i18n>Artists</li></a>
                    <a href=""><li i18n>Search</li></a>
                    <a routerLink="/tracks"><li i18n>Tracks</li></a>
                </ul>
            </div>
        </div>
        <div class="footer__description">
            <h4 i18n>Our Mission</h4>
            <p i18n>
                Since 2017, Beatkhor aims to promote creativity and accelerate the development of the music culture. All the beats are made by the beatkhor community.
            </p>
        </div>
    </div>
</footer>